/* Reset */
@font-face {
  font-family: "dana-bold";
  src: url(../assets/fonts/dana-fanum-bold.woff2);
  
}

@font-face {
  font-family: "dana-medium";
  src: url(../assets/fonts/dana-fanum-medium.woff2);
  
}

@font-face {
  font-family: "dana-regular";
  src: url(../assets/fonts/dana-fanum-regular.woff2);
  
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
    line-height: 1;
    
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* Root Variables */
:root {
    --color-passenger1: rgb(255,87,34);
    --color-passenger2: rgb(255,121,78);
    --color-passenger3: rgb(255,171,144);
    --color-passenger4: rgb(255,204,188);
    --color-driver1: rgb(0,101,220);
    --color-driver2: rgb(51,132,227);
    --color-driver3: rgb(127,178,237);
    --color-driver4: rgb(178,208,244);
    --color-text1:rgb(0,0,0);
    --color-text2: rgb(51,51,51);
    --color-text3: rgb(77,77,77);
    --color-text4: rgb(178,178,178);
    --color-download-hover:rgb(56,184,124);
    --color-white: #fff;

}

