/* Reset */
@font-face {
  font-family: "dana-bold";
  src: url(../assets/fonts/dana-fanum-bold.woff2);
  
}

@font-face {
  font-family: "dana-medium";
  src: url(../assets/fonts/dana-fanum-medium.woff2);
  
}

@font-face {
  font-family: "dana-regular";
  src: url(../assets/fonts/dana-fanum-regular.woff2);
  
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


*,*:after,*:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
    line-height: 1;
    
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* Root Variables */
:root {
    --color-button-passenger: rgb(255,87,34);
    --color-link-passenger: rgb(255,121,78);
    --color-icon-hover:rgb(251,129,33);
    --color-tapsiback-passenger: rgb(255,171,144);
    --color-button-driver: rgb(0,101,220);
    --color-link-driver: rgb(51,132,227);
    --color-support: rgb(127,178,237);
    --color-header-text:rgb(0,0,0);
    --color-description-text: rgb(51,51,51);
    --color-item-text: rgb(77,77,77);
    --color-background-icon: rgb(178,178,178);
    --color-download-hover:rgb(56,184,124);
    --color-white: #fff;

}

